
               {% extends 'base/base_dashboard_doctor.html' %}
               {% block content %}
               {% with mensaje = get_flashed_messages() %}
                {% if mensaje %}
                {% for mensajes in mensaje %}
                    <center>
                    <div class="alert alert-success" role="alert">
                        <strong>{{mensajes}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div></center>
                    

                {% endfor %}
                {% endif %}
                {% endwith %}
               <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Citas</h3>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información de citas</p>
                        </div>
                        <div class="card-body">
                            <div class="float-start float-md-end mt-5 mt-md-0 search-area"></div><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Buscar">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Nombre Paciente</th>
                                            <th>Teléfono</th>
                                            <th>Clinica</th>
                                            <th>Consultorio</th>
                                            <th>Doctor</th>
                                            <th>Fecha y Hora</th>
                                            <th>Turno</th>
                                            <th>Servicios</th>
                                            <th>Tiempo en Consulta</th>
                                            <th>Total Pagado</th>
                                            <th>Estatus</th>
                                            <th>Modificar Datos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fila in datos  %}
                                        <tr>
                                            <td>{{ fila.0 }}</td>
                                            <td>{{ fila.2 }}</td>
                                            <td>{{ fila.4 }}</td>
                                            <td>{{ fila.11 }}</td>
                                            <td style="text-align: center;">{{ fila.7 }}</td>
                                            <td>{{ fila.1 }}</td>
                                            <td>{{ fila.5 }}</td>
                                            <td>{{ fila.3 }}</td>
                                            <td>{{ fila.12 }}</td>
                                            <td style="text-align: center;">{{ fila.8 }} min</td>
                                            <td>{{ fila.9 }}</td>
                                            <td>{{ fila.10 }}</td>
                                            <td><button class="btn btn-primary" type="button" style="background: rgb(26, 32, 46);">Editar</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div><button class="btn btn-primary" type="button" style="background: rgb(26, 32, 46);">Generar Reporte<i class="fas fa-download fa-sm text-white-50"></i></button>
                        </div>
                    </div>
                </div>
           
            {% endblock %}           