
               {% extends 'base/base_dashboard_manager.html' %}
               {% block content %}
               {% with mensaje = get_flashed_messages() %}
                {% if mensaje %}
                {% for mensajes in mensaje %}
                    <center>
                    <div class="alert alert-success" role="alert">
                        <strong>{{mensajes}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div></center>
                    

                {% endfor %}
                {% endif %}
                {% endwith %}
               <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Citas {{sucursal}}</h3>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información de citas</p>
                        </div>
                        <div class="card-body">
                            <div class="float-start float-md-end mt-5 mt-md-0 search-area"></div><form action="/search/appointments/manager" method="POST">
                            <select class="form-select"   id="formu" name="filtro">
                                                <optgroup label="--Filtro de busqueda--" >
                                                <option value="Ninguno" selected >Ninguno </option>
                                                    <option value="consultorio" >Número de consultorio </option>
                                                <option value="nombre" >Nombre Doctor</option>

                                        </select> <h1></h1>
                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder=" Buscar"  name="buscar" method="POST"></form>



                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Nombre Paciente</th>
                                            <th>Teléfono</th>
                                            <th>Consultorio</th>
                                            <th>Doctor</th>
                                            <th>Fecha y Hora</th>
                                            <th>Tiempo en Consulta</th>
                                            <th>Estatus</th>
                                            <th>Detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fila in datos  %}
                                        <tr>
                                            <td>{{ fila.0 }}</td>
                                            <td>{{ fila.2 }}</td>
                                            <td>{{ fila.4 }}</td>
                                            <td style="text-align: center;">{{ fila.7 }}</td>
                                            <td>{{ fila.1 }}</td>
                                            <td>{{ fila.5 }}</td>
                                            <td style="text-align: center;">{{ fila.8 }} min</td>
                                            <td>{{ fila.10 }}</td>
                                            <td><button data-id='{{fila.0}}' class="appointmentinfo btn btn-primary" type="button" style="background: rgb(26, 32, 46);">
                                            Detalles
                                            </button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div> <a href="/download/report_appointments/pdf"   class="btn btn-primary" type="submit" style="background: rgb(26, 32, 46);">Generar Reporte(pdf)  <i class="fas fa-file-pdf fa-sm text-white-50"></i></a> <a href="/download/report_excel/manager"   class="btn btn-primary" type="submit" style="background: rgb(26, 32, 46);">Generar Reporte(Excel)  <i class="fas fa-file-excel fa-sm text-white-50"></i></a>
                        </div>

           <script type='text/javascript'>
            $(document).ready(function(){
                $('.appointmentinfo').click(function(){
                    var citaid = $(this).data('id');
                    $.ajax({
                        url: '/ajaxfile',
                        type: 'post',
                        data: {citaid: citaid},
                        success: function(data){ 
                            $('.modal-body1').html(data); 
                            $('.modal-body1').append(data.htmlresponse);
                            $('#empModal').modal('show');

                        }
                    });
                });
            });


function cerrar(){
  $("#empModal").modal('hide');//ocultamos el modal
  $(".modal-body").drop('hide');//ocultamos el modal
}


$(window).load(function(){
             $('#empModal').modal('show');
         });



            </script>



<!-- Modal -->
<div class="modal fade" id="empModal" tabindex="-1" role="dialog" tabindex="-1" role="dialog"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles de la Cita</h5>
        <button onClick="cerrar()" type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body1">
        ...
      </div>
      <div class="modal-footer">
        <button onClick="cerrar()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            {% endblock %}           