<form method="POST" action="/editar/empleado">
{% for dato in datos %}

    <form action="/edit_employee/{{id}}" method="post" >
    <h1>&nbsp;DentalCare&nbsp;<i class="fas fa-tooth"></i></h1>
    <div class="form-group">
    <div class="col-sm-12 label-column"><label class="col-form-label" for="name-input-field">Nombre(s) </label></div>
    <div class="col-sm-12 input-column"><input class="form-control" name="nombre" type="text" placeholder="Ingresa tu nombre(s)" required="" value="{{dato.7}}"></div>
    </div>


    <div class="form-group">
    <div class="col-sm-12 label-column"><label class="col-form-label" for="name-input-field">Apellidos</label></div>
    <div class="col-sm-12 input-column"><input class="form-control" name="apellido" type="text" placeholder="Ingresa tus apellidos" required="" value="{{dato.8}}"></div></div>

    <div class="form-group">
    <div class="col-sm-12 label-column"><label class="col-form-label" for="email-input-field">Correo</label></div>
    <div class="col-sm-12 input-column"><input class="form-control" name="email" type="email" inputmode="email" required="" placeholder="Ingresa el correo" value="{{dato.2}}"></div>
    </div>


    <div class="form-group">
    <div class="col-sm-12 label-column"><label class="col-form-label">Teléfono</label></div>
    <div class="col-sm-12 input-column"><input class="form-control" name="phone" type="tel" inputmode="numeric" required="" placeholder="Ingresa el teléfono" value="{{dato.1}}"></div>
    </div>


    <div class="form-group">
    <div class="col-sm-12 label-column"><label class="col-form-label" for="name-input-field">Estatus</label></div>
    <div class="col-sm-12 input-column"><select class="form-select" name="estatus" value="{{dato.3}}" >
        <option hidden selected="true">{{dato.3}}</option>
        <option name="estatus" >Activo</option>
        <option name="estatus" >Inactivo</option>
    </select></div>
    </div>

    <div class="form-group">
    <div class="col-sm-12 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Contraseña</label></div>

    <div class="col-sm-12 input-column"><input class="form-control" name="password" type="password" placeholder="Ingresa la contraseña" minlength="5" maxlength="16"></div>
    </div>

{% endfor %}
    <div class="modal-footer">
    <button class="btn btn-primary" name="id" value="{{id}}" type="submit" style="background: rgb(26, 32, 46);" data-bs-target=".hyml">Registrar</button>
    <button type="button" class="btn btn-primary" style="background: rgb(26, 32, 46);"  data-dismiss="modal" onClick="cerrar()">Cerrar</button>
    </div>
    </form>
                            <script type="text/javascript">
                                function showContent() {
                                    element = document.getElementById("content2");
                                    check = document.getElementById("check");
                                    check2 = document.getElementById("check-2");
                                    formu = document.getElementById("formu");

                                    q= document.getElementById("q");
                                    if (check.checked) {
                                        document.getElementById("formu").removeAttribute('disabled');

                                        console.log("Hola")}
                                    if(check2.checked) {

                                        document.getElementById("formu").setAttribute("disabled","");

                                    }


                                }

    function cerrar(){
  $("#empModal").modal('hide');//ocultamos el modal
  $(".modal-body1").drop('hide');//ocultamos el modal


}
                        </script>
