
               {% extends 'base/base_dashboard_assistant.html' %}
               {% block content %}
               {% with mensaje = get_flashed_messages() %}
                        {% if mensaje %}
                        {% for mensajes in mensaje %}
                            <center>
                            <div class="alert alert-primary" role="alert">
                                <strong>{{mensajes}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div></center>


                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Registro Citas {{sucursal}}</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Ingresa la siguiente información</p>
                        </div>
                        <div class="card-body">
                            <div class="row register-form">
                                <div class="col-md-8 offset-md-2">
                                    <form action="/register_appointment" class="custom-form" method="post">
                                        <h1>&nbsp;DentalCare<i class="fas fa-tooth"></i></h1>
                                        <div class="row form-group">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Nombre(s) </label></div>
                                            <div class="col-sm-6 input-column"><input name="nombre" class="form-control" type="text" placeholder="Ingresa tu nombre(s)" required=""></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Apellidos</label></div>
                                            <div class="col-sm-6 input-column"><input name="apellido" class="form-control" type="text" placeholder="Ingresa tus apellidos" required=""></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Teléfono</label></div>
                                            <div class="col-sm-6 input-column"><input name="telefono" class="form-control" type="tel" required="" placeholder="Ingresa tu télefono"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field" >Fecha</label></div>
                                            <div class="col-sm-6 input-column"><input class="form-control" name="fecha"  type="date" min="2021-08-01" id="datefield" max="2022-12-30" required/></div>
                                        </div>

                                        <p>¿En qué turno deseas tu cita?</p>
                                        <div class="form-check"><input type="radio" class="form-check-input" id="prueba" name="check1" value="1"  onchange="javascript:showContent1()" /><label class="form-check-label" for="check">Matutino</label></div>
                                        <div class="form-check"><input type="radio" class="form-check-input" id="prueba2" name="check1" value="1"  onchange="javascript:showContent1()" /><label class="form-check-label" for="check-2">Vespertino</label></div>

                                        <div class="row form-group" id="contenido" style="display:none;">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field" >Hora</label></div>
                                            <div class="col-sm-6 input-column"><input class="form-control" type="time" min="09:00" max="14:00" id="datetime1" ></div>
                                        </div>

                                        <div class="row form-group" id="contenido1" style="display:none;">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field" >Hora</label></div>
                                            <div class="col-sm-6 input-column"><input class="form-control" type="time" min="15:00" max="20:00" id="datetime2" ></div>
                                        </div>
                                       <!-- <div class="row form-group">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Sucursal</label></div>
                                            <div class="col-sm-6 input-column"><select class="form-select" name="sucursal" >
                                                    {% for opcion in opcion %}
                                                        <option name="sucursal">{{opcion.0}}</option>
                                                    {% endfor %}
                                                </select></div>
                                        </div> -->
                                       
                                        
                                        <div class="row form-group">
                                            <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Tipo consulta&nbsp;</label></div>
                                            <div class="col-sm-6 input-column"><select class="form-select" name="servicio1">
                                                    {% for opcion in opcion %}
                                                        <option  name="servicio1">{{opcion.0}}</option>
                                                    {% endfor %}
                                                </select></div>
                                        </div>

                                                
                                                <div class="row form-group">
                                                    <p>¿Deseas agregar otro tratamiento?</p>

                                                    <div>
                                                    <input type="radio"  id="check" name="check" value="1" required onchange="javascript:showContent()">
                                                    <label for="check">Sí</label>
                                                    </div>

                                                    <div>
                                                    <input type="radio" id="check-2" name="check" value="1" required onchange="javascript:showContent()" checked>
                                                    <label for="check-2">No</label>
                                                    </div>
                                                </div>
                                                <div class="row form-group" id="content2" style="display:none;">
                                                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Tipo consulta&nbsp;</label></div>
                                            <div class="col-sm-6 input-column" ><select class="form-select" name="servicio2">
                                                   {% for opcion in opcion %}
                                                        <option name="servicio2" >{{opcion.0}}</option>
                                                    {% endfor %}
                                                </select></div>
                                               
                                                </div>   
                                        <button class="btn btn-primary" type="submit" style="background: rgb(26, 32, 46);">Registrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                            <script type="text/javascript">
                                function showContent() {
                                    element = document.getElementById("content2");
                                    check = document.getElementById("check");
                                    check2 = document.getElementById("check-2");
                                    formu = document.getElementById("formu");
                                    
                                    if (check.checked) {
                                        document.getElementById("content2").style.display="flex";;
                                                                            
                                    }
                                    if(check2.checked) {
                                      
                                        document.getElementById("content2").style.display="none";;
                                       
                                    }
                        
                                   
                                }

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
           dd = '0' + dd;
        }

        if (mm < 10) {
           mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("min", today);
                     

function showContent1() {
            elements = document.getElementById("contenido");
            elements1 = document.getElementById("contenido1");
            check3 = document.getElementById("prueba");
            check4 = document.getElementById("prueba2");
            if (check3.checked) {
                elements.style.display='flex';
                elements1.style.display='none';
                document.getElementById("datetime1").setAttribute("name","hours");
                document.getElementById("datetime1").setAttribute("required","");
                document.getElementById("datetime2").removeAttribute('name');
                document.getElementById("datetime2").removeAttribute("required");
            }
            else {
                elements.style.display='none';
                elements1.style.display='flex';
                document.getElementById("datetime2").setAttribute("name","hours");
                document.getElementById("datetime2").setAttribute("required","");
                document.getElementById("datetime1").removeAttribute('name');
                document.getElementById("datetime1").removeAttribute("required");
            }
        }


                        </script>
                {% endblock %}   